---

title: Recommendations YouTube
slug: recommendations_youtube_en
date: 2021-10-02 18:46 UT
tags: []
published: true
image: all_channels_image_green
lang: en

---

<header class="major">
  <a href="#" onclick="window.history.back();">←</a>
</header>
<h4>Recommendations listening</h4>
<p>Find many more old recordings on youtube channels</p>
<div class="row">
  <div class="col-6 align-center">
    <a href="https://www.youtube.com/channel/UCVMC67gJepWfLFtWhtrSUVw/videos" target="_blank" rel="noopener">
      <img loading=lazy src="<%= image_path('blog/ivan_mirnik_channel.jpg') %>" alt="Mirnik" style="height: 10vh">
      <h2>Ivan Mirnik</h2>
    </a>
  </div>
  <div class="col-6 align-center">
    <a href="https://www.youtube.com/channel/UCJhsbB8xMxoVbS-USiVXc-g/videos" target="_blank" rel="noopener">
      <img loading=lazy src="<%= image_path('blog/peter_zrinski_channel.jpg') %>" alt="Zrinski" style="height: 10vh">
      <h2>Peter Serin Zrinski</h2>
    </a>
  </div>
  <div class="col-6 align-center">
    <a href="https://www.youtube.com/channel/UCkWRXvasCbZKlAlRqqPSP8Q-USiVXc-g/videos" target="_blank" rel="noopener">
      <img loading=lazy src="<%= image_path('blog/nikola_zekic_channel.jpg') %>" alt="Zekić" style="height: 10vh">
      <h2>Nikola Zekić</h2>
    </a>
  </div>
  <div class="col-6 align-center">
    <a href="https://www.youtube.com/channel/StevenKozobarich/videos" target="_blank" rel="noopener">
      <img loading=lazy src="<%= image_path('blog/steven_kozobarich_channel.jpg') %>" alt="Kozobarich" style="height: 10vh">
      <h2>Steven Kozobarich</h2>
    </a>
  </div>
</div>
